html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  margin: 70px 0px 400px; }

@media (min-width: 768px) {
  body {
    margin: 70px 55px 400px; } }

@media (min-width: 1200px) {
  .container {
    width: 1130px; } }

@media (min-width: 992px) {
  .container {
    width: 992px; } }

a {
  color: black;
  text-decoration: underline; }

a:hover {
    color: black; }

/* .logo img */
/* { */
   /* height: 45px; */
  /* margin-top: 4px; */
  /* margin-bottom: 4px; */
/* } */


.header {
  position: fixed;
  padding: 11px 0px 11px;
  top: 0px;
  left: 0px;
  background: white;
  padding: 11px 90px 11px;
  width: 100%;
  z-index: 1000; }

.headermenu {
  padding-top: 18px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.8px;
}

.headermenu a {
  margin-right: 6%;
  text-decoration: none;
}
