
* {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 70px 55px 400px; }

@media (min-width: 768px) {
  body {
    margin: 70px 55px 400px; }
   }

}

@media (min-width: 992px) {
  .container {
    width: 992px; }
  }


@media (min-width: 1200px) {
      .container {
        width: auto; }
   }

a {
  color: black;
  text-decoration: underline; }

a:hover {
    color: black; }

video {
  width: 100%;
  height: auto;
}

.header {
  top: 0px;
  left: 0px;
  background: white;
  padding: 5px 45px 5px;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

.logo {
height:auto;
width:auto;
margin-left: 0;
order: -1;
flex: 1;

}

.logo img {
  height: 45px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.headermenu {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.8px;
  background: #fff;
  align-items: flex-end;


}

.headermenu a {
  margin-right: 3%;
  text-decoration: none;
  background: purple;
}

.item-7 {
  order: 2;
}


.hero-container{
  height: auto;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-video {
  opacity: 1;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;

}

.hero-logo{
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;


}

.hero-logo img{
width: 50%;

}

.info{

}

.left-side .inner{
  background-color: lightblue;
  padding: 20px;
  margin: 20px;
}

.right-side .inner{
background-color: pink;
padding: 20px;
margin: 20px;
}

.column{
  float: left;
  width: 50%;
}

.footer {
  clear: both;
   border-top: solid 1px black;
   padding: 15px 0 0;
   height: 225px;
   bottom: 0px;
   width: 100%;
   font-size: 13px;
   font-weight: 600;
   letter-spacing: 2.8px;
   font-family: 'lato', sans-serif;
   text-align: center;
   margin-left: -15px;
   margin-right: -15px;
}

.footer a {
  text-decoration: none;
  margin: 0px 15px;
  text-transform: none;
  line-height: 35px;

}


.footer-row {}
